@model List<Message>
@{
    ViewData["Title"] = "Message";
}

<!DOCTYPE>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>List of messages</title>
</head>
<body>
    <h2>List of messages:</h2>
    @foreach (Message message in Model)
    {
        <div class="media" style="border: 1px ridge darkorange; padding: 3px;">
            <div class="media-left">
                <img src="~/Images/user-icon-image-placeholder.jpg" class="media-object" style="width: 50px; margin-right: 5px;" />
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    @message.Sender.FirstName @message.Sender.LastName
                    <small><i>Posted On: @message.Date.ToString()</i></small>
                </h4>
                <p>
                    @message.Sender.Email <br />
                    @message.MessageText
                </p>


                @foreach (Reply reply in message.Replies)
                {
                <div class="media">
                    <div class="media-left">
                        <img src="~/Images/user-icon-image-placeholder.jpg" class="media-object" style="width: 50px; margin-right: 5px;" />
                    </div>
                    <div class="media-body">
                        <h4 class="media-heading">
                            @reply.Sender.FirstName  @reply.Sender.LastName
                            <small><i>Posted On: @reply.Date.ToString()</i></small>
                        </h4>
                        <p>

                            @reply.Sender.Email <br />
                            @reply.MessageText
                        </p>
                    </div>
                </div>
                }
            </div>
        </div>
        <a asp-action="AddReply" asp-route-messageDate="@message.Date">Send a Reply</a>
        <br />
        <br />

    }
    <br />
    <br />
    <br />
    <a href="/Message/AddMessage">Send a message</a><br />
    <a href="/Home">Home</a>

</body>
</html>