@model List<User>

@{
    ViewData["Title"] = "User";
}


<h2> List of members:</h2> <br /> 
@foreach (User user in Model)
{
    <div class="media" style="border: 1px ridge darkorange; padding: 3px;">
        <div class="media-left">
            <img src="@user.ImageUrl" class="media-object" style="width: 50px; margin-right: 5px;" />
        </div>
        <div class="media-body">
            <h4 class="media-heading">
                @user.FirstName  @user.LastName
            </h4>
            <p>
                @user.Email <br />
                <a asp-action="UserDetail" asp-route-firstName="@user.FirstName">View Details</a>
            </p>
          
        </div>
    </div>
    
    <br />
}

<br>
<a href="/User/AddUser">Add a user</a><br />
<a href="/Home">Home</a>


